@model Patroni
@*  Add view for Patroni*@
<form method="post">
<div class="border p-3 mt-4">
<h1>Dodaj Patrona</h1>
<div class="mb-3">
<label asp-for="Data"></label>
<input asp-for=Data class="form-control"/>
<span asp-validation-for="Data" class="text-danger"></span>
</div>
<div class="mb-3">
<label asp-for="Patron"></label>
<textarea asp-for=Patron  class="form-control"></textarea>
<span asp-validation-for="Patron" class="text-danger"></span>
</div>
<div class="mb-3">
<label asp-for=Glowny></label>
<input asp-for=Glowny type="checkbox" class="form-check-input"/>
<span asp-validation-for="Glowny" class="text-danger"></span>
</div>
<div class="mb-3">
<label asp-for=Opis></label>
<textarea asp-for=Opis  class="form-control"></textarea>
<span asp-validation-for="Opis" class="text-danger"></span>
</div>

<div class="mb-3">
<label class="text-danger">@TempData["error"]</label>
   </div>
   <button type="submit" class="btn btn-success">
   Dodaj</button>
   <a asp-controller="Patroni" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Wróć do listy
        </a>
</div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
     }
}
