@model PatroniViewModel

@*Index for Patroni*@

<form method="post">
<h1>Zarządzanie zawartością tabeli "Patroni"</h1>
<div class="border p-3 mt-4">
    <div class="mb-3">
    <label class="control-label">Padaj datę w formacie(mm-dd):</label>
    <input asp-for=Date id="dzienpicked" class="form-control"/>
    <span asp-validation-for=Date class=text-danger></span>
    <div align="right">
    <a asp-controller="Patroni" asp-action="Index"  
            class="btn btn-info"><i class="bi bi-arrow-clockwise"></i> Odśwież stronę</a>
    <button asp-asp-controller="Patroni"
    id="Button_search"
    type="button" 
    style="margin-top:10px; margin-bottom:10px;"
    class="btn btn-info" 
    onclick="OnChangeDate()"
    >
    <i class="bi bi-search"></i>Szukaj</button>
    </div>
            </div>
    </div>
<div align="right" style="margin-top:10px">
   <a asp-controller="Patroni" asp-action="Add" 
    class="btn btn-success"><i class="bi bi-pencil-square"></i> Dodaj nowy rekord</a>
</div>
</form>
<div id="PatroniDisplay">
<partial name="_PatroniDisplay" model=@Model.Patroni/>
</div>


@section Scripts
    {   
    <script>
        function OnChangeDate()
        {
      $.ajax({
            url: '@Url.Action("IndexDatePicked", "Patroni")',
            type: 'POST',
            async: true,
            cache: false,
            data: { date:$('#dzienpicked').val()},
             headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
            dataType: 'html',
            traditional: true,
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (response) {
                $('#PatroniDisplay').html(response);
            }
        });
        }
    </script>  
    }

    