@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>

@*Index for Admin*@

<form method="post">
<h1>Zarządzanie użytkownikami</h1>
<div align="right" style="margin-top:10px">
  <a class="btn btn-success" asp-area="Identity" asp-page="/Account/Register">Dodaj użytkownika</a>
</div>
</form>
<div id="LekcjonarzDisplay">
<partial name="_UserDisplay" model=@Model/>
</div>


    