@model Video

<form method="post">
<h1>Dodaj Video</h1>
<input asp-for=IdVideo type="hidden" value="IdVideo.ToString()">
Data:<input asp-for=Data 
type="date" 
class="form-control" 
/>
Typ czytania:<select 
class="form-control" 
id="in_typczytania"
name="input_typczytania"
asp-for="TypCzytania"


asp-items= "@((List<string>)ViewData["typCzytania_list"]).ConvertAll(a =>
                
                     new SelectListItem()
                    {
                        Text = a.ToString(),
                        Value = a.ToString(),
                        Selected = false
                    }).ToList()">

</select>

Youtube id: <input asp-for=YoutubeId 
type="datetime" 
class="form-control" 
id="in_youtubeid"
name="input_youtubeid"

/>



<div  style="margin-top:10px">
            <button 
            id="Button_add"
            type="submit" 
            class="btn btn-success" 
            onclick=""
            >
            Dodaj</button>
</div>
</form>
