@model VideoViewModel
<h1>Zarządzanie zawartością tabeli "Video"</h1>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Podaj datę:</label>
    <input asp-for=Date 
    id="datepicked" 
    type="date"
    class="form-control" 
    value="@Model.Date.ToString("yyyy-MM-dd")" 
    />  
        <button 
    asp-asp-controller="DataOperations"
    id="Button_search"
    type="button" 
    style="margin-top:10px; margin-bottom:10px;"
    class="btn btn-success" 
    onclick="OnChangeDate()"
    >
    <i class="bi bi-search"></i>Szukaj</button>
            </div>
    </div>
<div align="right">
<a
class="btn btn-primary"
asp-controller="DataOperations"
asp-action="VideoAdd"
>
<i class="bi bi-plus-circle"></i>Dodaj nowe video</a>
</div>
<div id="VideoDisplay">
<partial name="_VideoDisplay" model=@Model.Videos/>
</div>









@section Scripts
    {   
    <script>
        function OnChangeDate()
        {
      $.ajax({
            url: '@Url.Action("VideoDatePicked", "DataOperations")',
            type: 'POST',
            async: true,
            cache: false,
            data: { date:$('#datepicked').val()},
            dataType: 'html',
            traditional: true,
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (response) {
                $('#VideoDisplay').html(response);
            }
        });
        }
    </script>
    <script>
                function OnUpdateSelected(id)
        {
          
          
      $.ajax({
            url: '@Url.Action("VideoUpdateSelected", "DataOperations")',
            type: 'POST',
            async: true,
            cache: false,
            data: { Id:id},
            dataType: 'html',
            traditional: true,
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (response) {
                $('#VideoDisplay').html(response);
            }
        });
        }
    </script>

    }

    