@model Ksiazki

@*Add view for Ksiazki*@

<form method="post">
<div class="border p-3 mt-4">
<h1>Dodaj nową książkę</h1>
<div class="mb-3">
<label asp-for=IdKmt></label>
<input asp-for=IdKmt class="form-control"/>
<span asp-validation-for="IdKmt" class="text-danger"></span>
</div>
<div class="mb-3">
<label asp-for="Tytul"></label>
<input asp-for=Tytul class="form-control"/>
<span asp-validation-for="Tytul" class="text-danger"></span>
</div>
<div class="mb-3">
 <label asp-for=Autor></label>
 <textarea asp-for=Autor class="form-control"></textarea>
<span asp-validation-for="Autor" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for=Foto ></label>
    <input asp-for=Foto  class="form-control"/>
    <span asp-validation-for=Foto class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for=Opis></label>
    <textarea asp-for=Opis class="form-control"></textarea>
    <span asp-validation-for=Opis class="text-danger"></span>
</div>
<div class="mb-3">
<label class="text-danger">@TempData["error"]</label>
   </div>
   <button type="submit" class="btn btn-success">
   Dodaj</button>
   <a asp-controller="Ksiazki" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Wróć do listy
        </a>
</div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
     }
}
